debug: false
http_timeout: 60

league_name:
  - - "Ｊ１"
    - "Ｊ１ １ｓｔ"
    - "Ｊ１ ２ｎｄ"
    - "Ｊ１ サントリー"
    - "Ｊ１ ＮＩＣＯＳ"
  - - "Ｊ２"
  - - "Ｊ３"

season_suffix:
  - "A"
  - "B"
  - "C"
  - "D"
  - "E"
  - "F"

rename_dict:
  "K/O時刻": "start_time"
  "スタジアム": "stadium"
  "ホーム": "home_team"
  "アウェイ": "away_team"
  "インターネット中継・TV放送": "broadcast"
  "入場者数": "attendance"

columns_list:
  - "match_date"
  - "section_no"
  - "match_index_in_section"
  - "start_time"
  - "stadium"
  - "home_team"
  - "home_goal"
  - "away_goal"
  - "away_team"
  - "broadcast"
  - "attendance"

# For read_older2020_matches.py
match_data:
  card_id_pattern: "/SFMS02/\\?match_card_id=(\\d+)"
  url_format: "https://data.j-league.or.jp/SFMS01/search?competition_years={year}&tv_relay_station_name="
  csv_path_format: "../csv/{year}.csv"
  league_csv_path: "../docs/csv/{season}_allmatch_result-{competition}.csv"
  encoding: "utf-8"
