* {
  box-sizing: border-box;
}
.box {
  border-collapse: collapse;
  border:1px solid #333;
  font-weight: 700;
  position: relative;
  text-align: center;
}
.short {
  height: 25px;
  width: 120px;
}
.tall {
  height: 75px;
  width: 120px;
}
.point {
  height: 25px;
  width: 40px;
}
.space {
  width: 120px;
}
p {
  height: 100%;
  width: 100%;
  text-align: center;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
}
.bg {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.future {
  opacity:0.2;
}

.boxContainer{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.bottom_label {
  align-self: flex-end;
}

.top_label {
  align-self: flex-start;
}
.仙台 {
  background-color: #FFFF99
}
.柏 {
  background-color: #FFFF44
}
.広島 {
  color: white;
  background-color: #993399
}
.鳥栖 {
  background: -moz-linear-gradient(top left, #FFCCFF, #33FFFF); 
  background: -webkit-linear-gradient(top left, #FFCCFF, #33FFFF);
  background: linear-gradient(to bottom right, #FFCCFF, #33FFFF);
}
.横浜FC {
  background-color: #00CCFF
}
.名古屋 {
  color: white;
  background-color: #EE0000
}
.FC東京 {
  color: white;
  background: -moz-linear-gradient(top left, #FF0000, #0000FF); 
  background: -webkit-linear-gradient(top left, #FF0000, #0000FF);
  background: linear-gradient(to bottom right, #FF0000, #0000FF);
}
.大分 {
  color: white;
  background-color: #000099;
}
.横浜FM {
  background: -moz-linear-gradient(top left, #FF0000, #FFFFFF, #0000FF); 
  background: -webkit-linear-gradient(top left, #FF0000, #FFFFFF, #0000FF);
  background: linear-gradient(to bottom right, #FF0000, #FFFFFF, #0000FF);
}
.鹿島 {
  color: white;
  background-color: #EE0000
}
.清水 {
  background-color: #FF9900
}
.Ｃ大阪 {
  background-color: #FFCCFF
}
.川崎Ｆ {
  color: white;
  background: -moz-linear-gradient(left, #00CCFF, #333333); 
  background: -webkit-linear-gradient(left, #00CCFF, #333333);
  background: linear-gradient(to right, #00CCFF, #333333);
}
.湘南 {
  background-color: #00FF00
}
.福岡 {
  color: white;
  background-color: #000080
}
.札幌 {
  color: white;
  background: -moz-linear-gradient(left, #FF0000, #333333); 
  background: -webkit-linear-gradient(left, #FF0000, #333333);
  background: linear-gradient(to right, #FF0000, #333333);
}
.徳島 {
  color: white;
  background: -moz-linear-gradient(top left, #009955, #333399); 
  background: -webkit-linear-gradient(top left, #009955, #333399);
  background: linear-gradient(to bottom right, #009955, #333399);
}
.Ｇ大阪 {
  color: white;
  background: -moz-linear-gradient(left, #000099, #333333); 
  background: -webkit-linear-gradient(left, #000099, #333333);
  background: linear-gradient(to right, #000099, #333333);
}
.浦和 {
  color: white;
  background-color: #EE0000
}
.神戸 {
  color: white;
  background-color: #EE0000
}
