* {
  box-sizing: border-box;
}

.box {
  border-collapse: collapse;
  border:1px solid #333;
  font-weight: 700;
  position: relative;
  text-align: center;
  white-space: nowrap;
}
.short {
  height: 25px;
  width: 120px;
}
.medium {
  height: 50px;
  width: 120px;
}
.tall {
  height: 75px;
  width: 120px;
}
.point {
  height: 25px;
  width: 40px;
}
.space {
  background-color: black;
  color: white;
  width: 120px;
}
p {
  height: 100%;
  width: 100%;
  text-align: center;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  white-space: nowrap;
}
.bg {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.future {
  opacity:0.2;
}

.fullW {
  width: 180px;
}
.halfW {
  width: 90px;
}
.live {
  border: 5px dashed red;
}
/*
.live_border {
  background-color: white;
  border-top: 5px dashed red;
}
*/

.promoted {
  background-color: #CFF3C0;
}
.promoted_playoff {
  background-color: #E0DFB5;
}
.relegated {
  background-color: #FBDCDC;
}
.playoff {
  background-color: #CBF7F5;
}

#box_container {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  transform-origin: left bottom;
  margin-bottom: 25px;
}
.bottom_label {
  align-self: flex-end;
}

.top_label {
  align-self: flex-start;
}

.group_label {
  position: absolute;
  bottom: -25px;
  width: 200px;
  font-weight: bold;
}

/* --- Controls layout (TS template) --- */
#controls {
  margin: 1em;
  display: flex;
  gap: 1.5em;
  flex-wrap: wrap;
  align-items: center;
}
#date_slider_section {
  margin: 0.5em 1em;
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
  align-items: center;
}
#date_slider {
  width: 60%;
}
#appearance_controls {
  margin: 0.5em 1em;
  display: flex;
  gap: 1.5em;
  flex-wrap: wrap;
  align-items: center;
}
#status_bar {
  margin: 0.5em 1em;
  font-size: 0.9em;
  color: #666;
}
#status_bar .timestamp-label {
  color: #999;
  margin-left: 1em;
}
#ranktable_section {
  margin: 1em;
}
#date_slider_up, #date_slider_down {
  background-color: black;
  color: white;
}
#target_date {
  font-weight: bold;
}

/***********************************************************************************/
/* Refer to https://www.w3schools.com/css/css_tooltip.asp */ 
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  border: black solid 2px;
  visibility: hidden;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/**************************************************************** for Rank Table */
table.ranktable td {
  border-bottom: solid 2px #777;
  text-align: right;
}
table.ranktable td div {
  text-align: center;
}
table.ranktable th {
  border-bottom: solid 2px #222;
}
