* {
  box-sizing: border-box;
}
.box {
  border-collapse: collapse;
  border:1px solid #333;
  font-weight: 700;
  position: relative;
  text-align: center;
}
.short {
  height: 25px;
  width: 120px;
}
.tall {
  height: 75px;
  width: 120px;
}
.point {
  height: 25px;
  width: 40px;
}
.space {
  width: 120px;
}
p {
  height: 100%;
  width: 100%;
  text-align: center;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
}
.bg {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.future {
  opacity:0.2;
}

#box_container {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  transform-origin: left bottom;
}
.bottom_label {
  align-self: flex-end;
}

.top_label {
  align-self: flex-start;
}

#date_slider {
  width: 80%;
}
/***********************************************************************************/
/* Refer to https://www.w3schools.com/css/css_tooltip.asp */ 
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  border: black solid 2px;
  visibility: hidden;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.full {
  width: 180px;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/**************************************************************** J1 Team style definition */
.仙台 {
  color: #193076;
  background-color: #fcc800;
}
.柏 {
  background-color: #fff100;
}
.広島 {
  color: white;
  background-color: #51318f;
}
.鳥栖 {
  background: -moz-linear-gradient(top left, #f580a7, #4fc3f7 50%); 
  background: -webkit-linear-gradient(top left, #f580a7, #4fc3f7 50%);
  background: linear-gradient(to bottom right, #f580a7, #4fc3f7 50%);
}
.横浜FC {
  background-color: #00a4f9;
}
.名古屋 {
  color: white;
  background: -moz-linear-gradient(top left, #f29600, #d70c18 50%); 
  background: -webkit-linear-gradient(top left, #f29600, #d70c18 50%);
  background: linear-gradient(to bottom right, #f29600, #d70c18 50%);
}
.FC東京, .Ｆ東23, .Ｆ東京 {
  color: white;
  background: -moz-linear-gradient(top left, #FF0000, #0000FF); 
  background: -webkit-linear-gradient(top left, #FF0000, #0000FF);
  background: linear-gradient(to bottom right, #FF0000, #0000FF);
}
.大分 {
  color: #ffb606;
  background-color: #140b8c;
}
.横浜FM, .横浜M {
  background: -moz-linear-gradient(top left, #E60039 10%, #FFFFFF, #004098 90%); 
  background: -webkit-linear-gradient(top left, #E60039 10%, #FFFFFF, #004098 90%);
  background: linear-gradient(to bottom right, #E60039 10%, #FFFFFF, #004098 90%);
}
.鹿島 {
  color: white;
  background-color: #b8193f;
}
.清水 {
  color: #0d3862;
  background-color: #f18a01;
}
.Ｃ大阪, .Ｃ大23 {
  color: black;
  background-color: #faa0bf;
}
.川崎Ｆ {
  color: white;
  background: -moz-linear-gradient(left, #198cca 60%, #000000); 
  background: -webkit-linear-gradient(left, #198cca 60%, #000000);
  background: linear-gradient(to right, #198cca 60%, #000000);
}
.湘南, .平塚 {
  background-color: #8dd64c;
}
.福岡 {
  color: white;
  background-color: #00205b;
}
.札幌 {
  color: white;
  background: -moz-linear-gradient(left, #d60000 60%, #000000); 
  background: -webkit-linear-gradient(left, #d60000 60%, #000000);
  background: linear-gradient(to right, #d60000 60%, #000000);
}
.徳島 {
  color: white;
  background: -moz-linear-gradient(top left, #009955, #333399 60%); 
  background: -webkit-linear-gradient(top left, #009955, #333399 60%);
  background: linear-gradient(to bottom right, #009955, #333399 60%);
}
.Ｇ大阪, .Ｇ大23 {
  color: white;
  background: -moz-linear-gradient(left, #003a68 60%, #000000); 
  background: -webkit-linear-gradient(left, #003a68 60%, #000000);
  background: linear-gradient(to right, #003a68 60%, #000000);
}
.浦和 {
  color: white;
  background-color: #e6002d;
}
.神戸 {
  color: white;
  background-color: #980323;
}


/**************************************************************** J2 Team style definition */
.新潟 {
  color: #014099;
  background-color: #FF7527;;
}
.金沢 {
  color: white;
  background-color: #d70c1f;
}
.京都 {
  color: white;
  background-color: #750069;
}
.大宮 {
  color: white;
  background-color: #f18900;
}
.岡山 {
  color: white;
  background: -moz-linear-gradient(left, #ad0040, #ad0040, #0c0a58); 
  background: -webkit-linear-gradient(left, #ad0040, #ad0040, #0c0a58);
  background: linear-gradient(to right, #ad0040, #ad0040, #0c0a58);
}
.秋田 {
  color: white;
  background-color: #004093;
}
.甲府 {
  color: white;
  background: -moz-linear-gradient(left, #B8193F, #005bac, #005bac); 
  background: -webkit-linear-gradient(left, #B8193F, #005bac, #005bac);
  background: linear-gradient(to right, #B8193F, #005bac, #005bac);
}
.山形 {
  color: white;
  background-color: #004098;
}
.愛媛 {
  color: white;
  background-color: #ff951c;
}
.磐田 {
  color: black;
  background-color: #7399d1;
}
.松本 {
  color: white;
  background-color: #00693E;
}
.長崎 {
  color: white;
  background: -moz-linear-gradient(top left, #f39800, #005bac 60%); 
  background: -webkit-linear-gradient(top left, #f39800, #005bac 60%);
  background: linear-gradient(to bottom right, #f39800, #005bac 60%);
}
.町田 {
  color: white;
  background-color: #0054a7;
}
.水戸 {
  color: white;
  background-color: #004B93;
}
.山口 {
  color: white;
  background-color: #ff8628;
}
.群馬, .草津 {
  color: #fdd448;
  background-color: #285B99;
}
.千葉, .市原 {
  color: #d7083b;
  background: -moz-linear-gradient(top left, #ffe100, #ffe100, #009260); 
  background: -webkit-linear-gradient(top left, #ffe100, #ffe100, #009260);
  background: linear-gradient(to bottom right, #ffe100, #ffe100, #009260);
}
.琉球 {
  color: white;
  background-color: #be003c;
}
.東京Ｖ, .Ｖ川崎 {
  color: white;
  background-color: #046A38;
}
.栃木 {
  color: #005bac;
  background-color: #fff100;
}
.北九州 {
  color:  #ea1300;
  background-color: #f9c900;
}
.相模原 {
  color: white;
  background-color: #005748;
}


/**************************************************************** J3 Team style definition */
.藤枝 {
  color: white;
  background-color: #a854a2;
}
.富山 {
  color: white;
  background-color: #023894;
}
.熊本 {
  color: white;
  background-color: #B61B15;
}
.岩手, .盛岡 {
  color: white;
  background-color: #e50012;
}
.八戸 {
  color: white;
  background-color: #009844;
}
.長野 {
  color: #333444;
  background-color: #ff6000;
}
.鳥取 {
  color: #043459;
  background-color: #6eba3d;
}
.YS横浜 {
  color: #051c33;
  background-color: #00aaec;
}
.今治 {
  color: yellow;
  background-color: #171c61;
}
.鹿児島 {
  color: white;
  background-color: #183060;
}
.岐阜 {
  color: white;
  background-color: #00491e;
}
.宮崎 {
  color: white;
  background-color: #d70071;
}
.沼津 {
  color: white;
  background-color: #4a5bb3;
}
.福島 {
  color: white;
  background: -moz-linear-gradient(left, #e60012, #333333); 
  background: -webkit-linear-gradient(left, #e60012, #333333);
  background: linear-gradient(to right, #e60012, #333333);
}
.讃岐 {
  color: #004471;
  background-color: #65aadd;
}


/**************************************************************** Lost Team style definition */
.横浜Ｆ {
  color: #00adde;
  background-color: #003163;
}
.J-22 {
  color: red;
  background-color: white;
}