/**************************************************************** J League Team style definition */
.仙台 {
  color: #193076;
  background-color: #fcc800;
}
.柏, .柏レイソルU-18 {
  background-color: #fff100;
}
.広島, .サンフレッチェ広島FCユース {
  color: white;
  background-color: #51318f;
}
.鳥栖, .サガン鳥栖U-18 {
  background: -moz-linear-gradient(top left, #f580a7, #4fc3f7 50%);
  background: -webkit-linear-gradient(top left, #f580a7, #4fc3f7 50%);
  background: linear-gradient(to bottom right, #f580a7, #4fc3f7 50%);
}
.横浜FC, .横浜FCユース {
  background-color: #00a4f9;
}
.名古屋, .名古屋グランパスU-18 {
  color: white;
  background: -moz-linear-gradient(top left, #f29600, #d70c18 50%);
  background: -webkit-linear-gradient(top left, #f29600, #d70c18 50%);
  background: linear-gradient(to bottom right, #f29600, #d70c18 50%);
}
.FC東京, .Ｆ東23, .Ｆ東京, .FC東京U-18 {
  color: white;
  background: -moz-linear-gradient(top left, #FF0000, #0000FF);
  background: -webkit-linear-gradient(top left, #FF0000, #0000FF);
  background: linear-gradient(to bottom right, #FF0000, #0000FF);
}
.大分 {
  color: #ffb606;
  background-color: #140b8c;
}
.横浜FM, .横浜M, .横浜F・マリノスユース {
  background: -moz-linear-gradient(top left, #E60039 10%, #FFFFFF, #004098 90%);
  background: -webkit-linear-gradient(top left, #E60039 10%, #FFFFFF, #004098 90%);
  background: linear-gradient(to bottom right, #E60039 10%, #FFFFFF, #004098 90%);
}
.鹿島, .鹿島アントラーズユース {
  color: white;
  background-color: #b8193f;
}
.清水, .清水エスパルスユース {
  color: #0d3862;
  background-color: #f18a01;
}
.Ｃ大阪, .Ｃ大23, .セレッソ大阪U-18, .C大阪 {
  color: black;
  background-color: #faa0bf;
}
.川崎Ｆ, .川崎F, .川崎フロンターレU-18 {
  color: white;
  background: -moz-linear-gradient(left, #198cca 60%, #000000);
  background: -webkit-linear-gradient(left, #198cca 60%, #000000);
  background: linear-gradient(to right, #198cca 60%, #000000);
}
.湘南, .平塚 {
  background-color: #8dd64c;
}
.福岡, .アビスパ福岡U-18 {
  color: white;
  background-color: #00205b;
}
.札幌 {
  color: white;
  background: -moz-linear-gradient(left, #d60000 60%, #000000);
  background: -webkit-linear-gradient(left, #d60000 60%, #000000);
  background: linear-gradient(to right, #d60000 60%, #000000);
}
.徳島 {
  color: white;
  background: -moz-linear-gradient(top left, #009955, #333399 60%);
  background: -webkit-linear-gradient(top left, #009955, #333399 60%);
  background: linear-gradient(to bottom right, #009955, #333399 60%);
}
.Ｇ大阪, .Ｇ大23, .ガンバ大阪ユース, .G大阪 {
  color: white;
  background: -moz-linear-gradient(left, #003a68 60%, #000000);
  background: -webkit-linear-gradient(left, #003a68 60%, #000000);
  background: linear-gradient(to right, #003a68 60%, #000000);
}
.浦和, .浦和レッドダイヤモンズユース, .浦和レッズユース {
  color: white;
  background-color: #e6002d;
}
.神戸, .ヴィッセル神戸U-18 {
  color: white;
  background-color: #980323;
}

.新潟 {
  color: #014099;
  background-color: #FF7527;;
}
.金沢 {
  color: white;
  background-color: #d70c1f;
}
.京都, .京都サンガFC {
  color: white;
  background-color: #750069;
}
.大宮, .大宮アルディージャU18, .RB大宮アルディージャU18 {
  color: white;
  background-color: #f18900;
}
.岡山, .ファジアーノ岡山U-18 {
  color: white;
  background: -moz-linear-gradient(left, #ad0040, #ad0040, #0c0a58);
  background: -webkit-linear-gradient(left, #ad0040, #ad0040, #0c0a58);
  background: linear-gradient(to right, #ad0040, #ad0040, #0c0a58);
}
.秋田 {
  color: white;
  background-color: #004093;
}
.甲府, .山梨学院高校, .ヴァンフォーレ甲府U-18 {
  color: white;
  background: -moz-linear-gradient(left, #B8193F, #005bac, #005bac);
  background: -webkit-linear-gradient(left, #B8193F, #005bac, #005bac);
  background: linear-gradient(to right, #B8193F, #005bac, #005bac);
}
.山形 {
  color: white;
  background-color: #004098;
}
.愛媛 {
  color: white;
  background-color: #ff951c;
}
.磐田, .ジュビロ磐田U-18 {
  color: black;
  background-color: #7399d1;
}
.松本 {
  color: white;
  background-color: #00693E;
}
.長崎 {
  color: white;
  background: -moz-linear-gradient(top left, #f39800, #005bac 60%);
  background: -webkit-linear-gradient(top left, #f39800, #005bac 60%);
  background: linear-gradient(to bottom right, #f39800, #005bac 60%);
}
.町田 {
  color: white;
  background-color: #0054a7;
}
.水戸 {
  color: white;
  background-color: #004B93;
}
.山口 {
  color: white;
  background-color: #ff8628;
}
.群馬, .草津 {
  color: #fdd448;
  background-color: #285B99;
}
.千葉, .市原, .ジェフユナイテッド市原・千葉U-18 {
  color: #d7083b;
  background: -moz-linear-gradient(top left, #ffe100, #ffe100, #009260);
  background: -webkit-linear-gradient(top left, #ffe100, #ffe100, #009260);
  background: linear-gradient(to bottom right, #ffe100, #ffe100, #009260);
}
.琉球 {
  color: white;
  background-color: #be003c;
}
.東京Ｖ, .Ｖ川崎, .東京ヴェルディユース {
  color: white;
  background-color: #046A38;
}
.栃木, .栃木SC {
  color: #005bac;
  background-color: #fff100;
}
.北九州 {
  color:  #ea1300;
  background-color: #f9c900;
}
.相模原 {
  color: white;
  background-color: #005748;
}

.藤枝 {
  color: white;
  background-color: #a854a2;
}
.富山 {
  color: white;
  background-color: #023894;
}
.熊本 {
  color: white;
  background-color: #B61B15;
}
.岩手, .盛岡 {
  color: white;
  background-color: #e50012;
}
.八戸 {
  color: white;
  background-color: #009844;
}
.長野 {
  color: #333444;
  background-color: #ff6000;
}
.鳥取 {
  color: #043459;
  background-color: #6eba3d;
}
.YS横浜 {
  color: #051c33;
  background-color: #00aaec;
}
.今治 {
  color: yellow;
  background-color: #171c61;
}
.鹿児島 {
  color: white;
  background-color: #183060;
}
.岐阜 {
  color: white;
  background-color: #00491e;
}
.宮崎 {
  color: white;
  background-color: #d70071;
}
.沼津 {
  color: white;
  background-color: #4a5bb3;
}
.福島 {
  color: white;
  background: -moz-linear-gradient(left, #e60012, #333333);
  background: -webkit-linear-gradient(left, #e60012, #333333);
  background: linear-gradient(to right, #e60012, #333333);
}
.讃岐 {
  color: #004471;
  background-color: #65aadd;
}
.いわき {
  background: -moz-linear-gradient(top left, #DA0036 40%, #010C44 40%, #010C44 60%, #DA0036 60%);
  background: -webkit-linear-gradient(top left, #DA0036 40%, #010C44 40%, #010C44 60%, #DA0036 60%);
  background: linear-gradient(to bottom right, #DA0036 40%, #010C44 40%, #010C44 60%, #DA0036 60%);
  color: white;
}

.奈良, .奈良クラブ {
  color: white;
  background: -moz-linear-gradient(left, #9C191C 40%, #01276C 60%);
  background: -webkit-linear-gradient(left, #9C191C 40%, #01276C 60%);
  background: linear-gradient(to right, #9C191C 40%, #01276C 60%);
}

.FC大阪, .ＦＣ大阪 {
  background-color: #4AC4FC;
  color: black;
}

.高知 {
  background-color: #B30000;
  color: #5db042;
}

.栃木Ｃ {
  background-color: #000E32;
  color: white;
}

/**************************************************************** Lost Team style definition */
.横浜Ｆ {
  color: #00adde;
  background-color: #003163;
}
.J-22 {
  color: red;
  background-color: white;
}

/**************************************************************** ACL Team style definition */
.大邱, .傑志, .JDT, .蔚山 {
  color: white;
  background-color: #00205b;
}
.ユナイテッドシティ {
  background-color: #fff100;
}
.タンピネス {
  color: white;
  background-color: #501010;
}
.ポートFC, .チェンライU, .ラーチャブリー {
  color: white;
  background-color: #f18900;
}
.浦項 {
  color: black;
  background-color: #7399d1;
}
.ベトテル, .広州FC {
  color: white;
  background-color: #e50012;
}
.北京FC, .パトゥムユナイテッド, .全北現代 {
    color: white;
    background-color: #009844;
  }
.カヤFC {
  color: yellow;
  background-color: black;
}
.セーラーズ {
  color: #E57623;
  background: -moz-linear-gradient(top left, #000084, #000084, #478EF7);
  background: -webkit-linear-gradient(top left, #000084, #000084, #478EF7);
  background: linear-gradient(to bottom right, #000084, #000084, #478EF7);
}
.山東泰山 {
  color: white;
  background: -moz-linear-gradient(top left, #FF6020, #FF752D, #FF8030);
  background: -webkit-linear-gradient(top left, #FF6020, #FF752D, #FF8030);
  background: linear-gradient(to bottom right, #FF6020, #FF752D, #FF8030);
}
.メルボルンシティ {
  color: black;
  background: -moz-linear-gradient(top left, #7FB9E8, #7FB9E8, #FFFFFF);
  background: -webkit-linear-gradient(top left, #7FB9E8, #7FB9E8, #FFFFFF);
  background: linear-gradient(to bottom right, #7FB9E8, #7FB9E8, #FFFFFF);
}
.全南 {
  color: black;
  background: -moz-linear-gradient(left, #FFED00 80%, #000000);
  background: -webkit-linear-gradient(left, #FFED00 80%, #000000);
  background: linear-gradient(to right, #FFED00 80%, #000000);
}
.ホアンアインザライ {
  color: blue;
  background-color: yellow;
}
.シドニーFC {
  color: black;
  background-color: #52AEE3;
}
/**************************************************************** Youth Team style definition */
.前橋育英高校	{
  color: black;
  background-color: yellow;
}
.桐生第一高校	{
  color: white;
  background-color: mediumblue;
}
.昌平高校	{
  color: white;
  background: -moz-linear-gradient(left, darkgreen 70%, black);
  background: -webkit-linear-gradient(left, darkgreen 70%, black);
  background: linear-gradient(to right, darkgreen 70%, black);
}
.三菱養和SCユース, .三菱養和サッカークラブユース {
  color: white;
  background-color: #D30E17;
}
.矢板中央高校	{
  color: white;
  background: -moz-linear-gradient(left, #DD0202 60%, black);
  background: -webkit-linear-gradient(left, #DD0202 60%, black);
  background: linear-gradient(to right, #DD0202 60%, black);
}
.帝京高校	{
  color: blue;
  background: -moz-linear-gradient(left, yellow 80%, green);
  background: -webkit-linear-gradient(left, yellow 80%, green);
  background: linear-gradient(to right, yellow 80%, green);
}
.青森山田高校 {
  color: white;
  background-color: darkgreen;
}
.流通経済大学付属柏高校 {
  color: yellow;
  background-color: #9f002a;
}
.市立船橋高校 {
  color: white;
  background-color: blue;
}
.JFAアカデミー福島U-18 {
  color: yellow;
  background-color: blue;
}

.大津高校 {
  color: white;
  background-color: blue;
}
.東福岡高校 {
  color: white;
  background-color: red;
}
.静岡学園高校 {
  color: yellow;
  background-color: darkgreen;
}
.履正社高校 {
  color: yellow;
  background-color: red;
}
.西武台高校 {
  color: blue;
  background-color: yellow;
}
.鹿島学園高校 {
  color: yellow;
  background-color: blue;
}
.尚志高校 {
  color: #8cd44d;
  background-color: #C73723;
}
.旭川実業高校 {
  color: white;
  background-color: #a41919;
}
.米子北高校 {
  color: white;
  background-color: #002844;
}
.神村学園高等部 {
  color: white;
  background-color: #CD0004;
}
.高崎健康福祉大学高崎高校 {
  color: white;
  background-color: #0183E2;
}
.帝京長岡高校 {
  color: yellow;
  background-color: green;
}
.鹿児島城西高校 {
  color: yellow;
  background-color: darkblue;
}
.桐蔭学園高校 {
  color: white;
  background-color: darkblue;
}
