name: Update matches csv

on:
  schedule:
    - cron: '0 16 * * *'
    - cron: '0 11 9 4 *'
    - cron: '0 12 9 4 *'
    - cron: '0 11 11 4 *'
    - cron: '0 12 11 4 *'
    - cron: '0 5 12 4 *'
    - cron: '0 6 12 4 *'
    - cron: '0 6 12 4 *'
    - cron: '0 7 12 4 *'
    - cron: '0 7 12 4 *'
    - cron: '0 8 12 4 *'
    - cron: '0 8 12 4 *'
    - cron: '0 9 12 4 *'
    - cron: '0 5 13 4 *'
    - cron: '0 6 13 4 *'
    - cron: '0 6 13 4 *'
    - cron: '0 7 13 4 *'
    - cron: '0 7 13 4 *'
    - cron: '0 8 13 4 *'
    - cron: '0 8 13 4 *'
    - cron: '0 9 13 4 *'
    - cron: '0 11 16 4 *'
    - cron: '0 12 16 4 *'
    - cron: '30 11 16 4 *'
    - cron: '30 12 16 4 *'
    - cron: '0 6 18 4 *'
    - cron: '0 7 18 4 *'
    - cron: '0 6 19 4 *'
    - cron: '0 7 19 4 *'
    - cron: '0 5 20 4 *'
    - cron: '0 6 20 4 *'
    - cron: '0 6 20 4 *'
    - cron: '0 7 20 4 *'
    - cron: '0 7 20 4 *'
    - cron: '0 8 20 4 *'
    - cron: '0 8 20 4 *'
    - cron: '0 9 20 4 *'
    - cron: '0 9 20 4 *'
    - cron: '0 10 20 4 *'
    - cron: '0 11 23 4 *'
    - cron: '0 12 23 4 *'
    - cron: '0 11 25 4 *'
    - cron: '0 12 25 4 *'
    - cron: '30 11 25 4 *'
    - cron: '30 12 25 4 *'
    - cron: '0 6 26 4 *'
    - cron: '0 7 26 4 *'
    - cron: '0 5 27 4 *'
    - cron: '0 6 27 4 *'
    - cron: '5 5 29 4 *'
    - cron: '5 6 29 4 *'
    - cron: '0 6 29 4 *'
    - cron: '0 7 29 4 *'
    - cron: '0 7 29 4 *'
    - cron: '0 8 29 4 *'
    - cron: '0 5 3 5 *'
    - cron: '0 6 3 5 *'
    - cron: '30 5 3 5 *'
    - cron: '30 6 3 5 *'
    - cron: '0 6 3 5 *'
    - cron: '0 7 3 5 *'
    - cron: '0 7 3 5 *'
    - cron: '0 8 3 5 *'
    - cron: '0 8 3 5 *'
    - cron: '0 9 3 5 *'
    - cron: '0 10 3 5 *'
    - cron: '0 11 3 5 *'
    - cron: '0 11 3 5 *'
    - cron: '0 12 3 5 *'
    - cron: '0 5 6 5 *'
    - cron: '0 6 6 5 *'
    - cron: '55 5 6 5 *'
    - cron: '55 6 6 5 *'
    - cron: '0 6 6 5 *'
    - cron: '0 7 6 5 *'
    - cron: '0 7 6 5 *'
    - cron: '0 8 6 5 *'
    - cron: '50 7 6 5 *'
    - cron: '50 8 6 5 *'
    - cron: '0 8 6 5 *'
    - cron: '0 9 6 5 *'
    - cron: '0 10 6 5 *'
    - cron: '0 11 6 5 *'
    - cron: '0 11 6 5 *'
    - cron: '0 12 6 5 *'
    - cron: '0 11 7 5 *'
    - cron: '0 12 7 5 *'
    - cron: '0 6 10 5 *'
    - cron: '0 7 10 5 *'
    - cron: '0 7 10 5 *'
    - cron: '0 8 10 5 *'
    - cron: '0 8 10 5 *'
    - cron: '0 9 10 5 *'
    - cron: '0 5 11 5 *'
    - cron: '0 6 11 5 *'
    - cron: '5 5 11 5 *'
    - cron: '5 6 11 5 *'
    - cron: '0 6 11 5 *'
    - cron: '0 7 11 5 *'
    - cron: '5 6 11 5 *'
    - cron: '5 7 11 5 *'
    - cron: '0 7 11 5 *'
    - cron: '0 8 11 5 *'
    - cron: '0 11 14 5 *'
    - cron: '0 12 14 5 *'
    - cron: '30 5 17 5 *'
    - cron: '30 6 17 5 *'
    - cron: '0 6 17 5 *'
    - cron: '0 7 17 5 *'
    - cron: '30 6 17 5 *'
    - cron: '30 7 17 5 *'
    - cron: '0 7 17 5 *'
    - cron: '0 8 17 5 *'
    - cron: '0 8 17 5 *'
    - cron: '0 9 17 5 *'
    - cron: '0 11 17 5 *'
    - cron: '0 12 17 5 *'
    - cron: '0 5 18 5 *'
    - cron: '0 6 18 5 *'
    - cron: '0 6 18 5 *'
    - cron: '0 7 18 5 *'
    - cron: '0 7 18 5 *'
    - cron: '0 8 18 5 *'
    - cron: '0 10 18 5 *'
    - cron: '0 11 18 5 *'
    - cron: '0 11 21 5 *'
    - cron: '0 12 21 5 *'
    - cron: '0 7 24 5 *'
    - cron: '0 8 24 5 *'
    - cron: '30 9 24 5 *'
    - cron: '30 10 24 5 *'
    - cron: '0 5 25 5 *'
    - cron: '0 6 25 5 *'
    - cron: '0 6 25 5 *'
    - cron: '0 7 25 5 *'
    - cron: '0 7 25 5 *'
    - cron: '0 8 25 5 *'
    - cron: '0 8 25 5 *'
    - cron: '0 9 25 5 *'
    - cron: '30 11 28 5 *'
    - cron: '30 12 28 5 *'
    - cron: '0 6 31 5 *'
    - cron: '0 7 31 5 *'
    - cron: '0 8 31 5 *'
    - cron: '0 9 31 5 *'
    - cron: '30 9 31 5 *'
    - cron: '30 10 31 5 *'
    - cron: '0 10 31 5 *'
    - cron: '0 11 31 5 *'
    - cron: '5 10 31 5 *'
    - cron: '5 11 31 5 *'
    - cron: '0 11 31 5 *'
    - cron: '0 12 31 5 *'
    - cron: '0 6 1 6 *'
    - cron: '0 7 1 6 *'
    - cron: '0 7 1 6 *'
    - cron: '0 8 1 6 *'
    - cron: '0 8 1 6 *'
    - cron: '0 9 1 6 *'
    - cron: '0 11 1 6 *'
    - cron: '0 12 1 6 *'
    - cron: '0 6 7 6 *'
    - cron: '0 7 7 6 *'
    - cron: '0 10 7 6 *'
    - cron: '0 11 7 6 *'
    - cron: '0 11 7 6 *'
    - cron: '0 12 7 6 *'
    - cron: '0 5 8 6 *'
    - cron: '0 6 8 6 *'
    - cron: '0 6 8 6 *'
    - cron: '0 7 8 6 *'
    - cron: '0 6 14 6 *'
    - cron: '0 7 14 6 *'
    - cron: '0 7 14 6 *'
    - cron: '0 8 14 6 *'
    - cron: '0 9 14 6 *'
    - cron: '0 10 14 6 *'
    - cron: '30 9 14 6 *'
    - cron: '30 10 14 6 *'
    - cron: '0 10 14 6 *'
    - cron: '0 11 14 6 *'
    - cron: '0 11 14 6 *'
    - cron: '0 12 14 6 *'
    - cron: '0 6 15 6 *'
    - cron: '0 7 15 6 *'
    - cron: '0 8 15 6 *'
    - cron: '0 9 15 6 *'
    - cron: '0 9 15 6 *'
    - cron: '0 10 15 6 *'
    - cron: '0 10 15 6 *'
    - cron: '0 11 15 6 *'
    - cron: '30 10 15 6 *'
    - cron: '30 11 15 6 *'
    - cron: '0 11 15 6 *'
    - cron: '0 12 15 6 *'
    - cron: '0 6 21 6 *'
    - cron: '0 7 21 6 *'
    - cron: '0 8 21 6 *'
    - cron: '0 9 21 6 *'
    - cron: '0 10 21 6 *'
    - cron: '0 11 21 6 *'
    - cron: '30 10 21 6 *'
    - cron: '30 11 21 6 *'
    - cron: '0 11 21 6 *'
    - cron: '0 12 21 6 *'
    - cron: '35 5 22 6 *'
    - cron: '35 6 22 6 *'
    - cron: '0 6 22 6 *'
    - cron: '0 7 22 6 *'
    - cron: '0 7 22 6 *'
    - cron: '0 8 22 6 *'
    - cron: '0 10 22 6 *'
    - cron: '0 11 22 6 *'
    - cron: '30 10 22 6 *'
    - cron: '30 11 22 6 *'
    - cron: '0 11 25 6 *'
    - cron: '0 12 25 6 *'
    - cron: '30 11 25 6 *'
    - cron: '30 12 25 6 *'
    - cron: '0 5 27 6 *'
    - cron: '0 6 27 6 *'
    - cron: '0 6 28 6 *'
    - cron: '0 7 28 6 *'
    - cron: '0 10 28 6 *'
    - cron: '0 11 28 6 *'
    - cron: '30 10 28 6 *'
    - cron: '30 11 28 6 *'
    - cron: '0 11 28 6 *'
    - cron: '0 12 28 6 *'
    - cron: '30 11 28 6 *'
    - cron: '30 12 28 6 *'
    - cron: '0 10 29 6 *'
    - cron: '0 11 29 6 *'
    - cron: '0 11 29 6 *'
    - cron: '0 12 29 6 *'
    - cron: '0 11 30 6 *'
    - cron: '0 12 30 6 *'
    - cron: '0 11 2 7 *'
    - cron: '0 12 2 7 *'
    - cron: '0 6 5 7 *'
    - cron: '0 7 5 7 *'
    - cron: '0 10 5 7 *'
    - cron: '0 11 5 7 *'
    - cron: '30 10 5 7 *'
    - cron: '30 11 5 7 *'
    - cron: '55 10 5 7 *'
    - cron: '55 11 5 7 *'
    - cron: '0 11 5 7 *'
    - cron: '0 12 5 7 *'
    - cron: '0 10 6 7 *'
    - cron: '0 11 6 7 *'
    - cron: '0 11 6 7 *'
    - cron: '0 12 6 7 *'
    - cron: '0 10 12 7 *'
    - cron: '0 11 12 7 *'
    - cron: '5 10 12 7 *'
    - cron: '5 11 12 7 *'
    - cron: '30 10 12 7 *'
    - cron: '30 11 12 7 *'
    - cron: '0 11 12 7 *'
    - cron: '0 12 12 7 *'
    - cron: '30 11 12 7 *'
    - cron: '30 12 12 7 *'
    - cron: '0 10 19 7 *'
    - cron: '0 11 19 7 *'
    - cron: '0 11 19 7 *'
    - cron: '0 12 19 7 *'
    - cron: '0 10 20 7 *'
    - cron: '0 11 20 7 *'
    - cron: '30 10 20 7 *'
    - cron: '30 11 20 7 *'
    - cron: '0 11 20 7 *'
    - cron: '0 12 20 7 *'
    - cron: '0 10 21 7 *'
    - cron: '0 11 21 7 *'
    - cron: '0 11 21 7 *'
    - cron: '0 12 21 7 *'
    - cron: '30 11 23 7 *'
    - cron: '30 12 23 7 *'
    - cron: '0 10 26 7 *'
    - cron: '0 11 26 7 *'
    - cron: '30 10 26 7 *'
    - cron: '30 11 26 7 *'
    - cron: '0 11 26 7 *'
    - cron: '0 12 26 7 *'
    - cron: '0 11 27 7 *'
    - cron: '0 12 27 7 *'
    - cron: '0 6 2 8 *'
    - cron: '0 7 2 8 *'
    - cron: '0 10 2 8 *'
    - cron: '0 11 2 8 *'
    - cron: '30 10 2 8 *'
    - cron: '30 11 2 8 *'
    - cron: '0 11 2 8 *'
    - cron: '0 12 2 8 *'
    - cron: '30 11 2 8 *'
    - cron: '30 12 2 8 *'
    - cron: '0 11 3 8 *'
    - cron: '0 12 3 8 *'
    - cron: '0 10 9 8 *'
    - cron: '0 11 9 8 *'
    - cron: '0 11 9 8 *'
    - cron: '0 12 9 8 *'
    - cron: '0 10 10 8 *'
    - cron: '0 11 10 8 *'
    - cron: '30 10 10 8 *'
    - cron: '30 11 10 8 *'
    - cron: '0 11 10 8 *'
    - cron: '0 12 10 8 *'
    - cron: '0 11 11 8 *'
    - cron: '0 12 11 8 *'
    - cron: '0 6 16 8 *'
    - cron: '0 7 16 8 *'
    - cron: '0 10 16 8 *'
    - cron: '0 11 16 8 *'
    - cron: '30 10 16 8 *'
    - cron: '30 11 16 8 *'
    - cron: '0 11 16 8 *'
    - cron: '0 12 16 8 *'
    - cron: '0 10 17 8 *'
    - cron: '0 11 17 8 *'
    - cron: '30 10 17 8 *'
    - cron: '30 11 17 8 *'
    - cron: '0 11 17 8 *'
    - cron: '0 12 17 8 *'
    - cron: '0 11 20 8 *'
    - cron: '0 12 20 8 *'
    - cron: '0 11 22 8 *'
    - cron: '0 12 22 8 *'
    - cron: '0 10 23 8 *'
    - cron: '0 11 23 8 *'
    - cron: '30 10 23 8 *'
    - cron: '30 11 23 8 *'
    - cron: '0 11 23 8 *'
    - cron: '0 12 23 8 *'
    - cron: '30 11 23 8 *'
    - cron: '30 12 23 8 *'
    - cron: '0 10 24 8 *'
    - cron: '0 11 24 8 *'
    - cron: '0 11 24 8 *'
    - cron: '0 12 24 8 *'
    - cron: '0 6 30 8 *'
    - cron: '0 7 30 8 *'
    - cron: '0 10 30 8 *'
    - cron: '0 11 30 8 *'
    - cron: '30 10 30 8 *'
    - cron: '30 11 30 8 *'
    - cron: '0 11 30 8 *'
    - cron: '0 12 30 8 *'
    - cron: '0 10 31 8 *'
    - cron: '0 11 31 8 *'
    - cron: '30 10 31 8 *'
    - cron: '30 11 31 8 *'
    - cron: '0 11 31 8 *'
    - cron: '0 12 31 8 *'

jobs:
  update-csv:

    runs-on: ubuntu-latest

    steps:
    - name: git checkout
      uses: actions/checkout@v4
      with:
        ref: main

    - name: Set up uv
      uses: astral-sh/setup-uv@v5
      with:
        python-version: "3.12"

    - name: Install dependencies
      run: uv sync

    - name: Set git config
      run: |
        git config --global user.name "mokekuma-git"
        git config --global user.email "mokekuma.git@gmail.com"

    - name: Update matches csv
      run: |
        DATE=`TZ=Asia/Tokyo date +'%m/%d %H:%M'`
        bash scripts/call_update_csv.sh "${{ github.event.schedule }}"
        if (git diff --shortstat | grep '[0-9]'); then \
          git add docs/csv/; \
          git commit -m "Make new csv (append games on $DATE)"; \
          git push origin HEAD; \
        fi
